<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Inchoo_ProductBookmark::productbookmark"
             title="Bookmarks"
             translate="title"
             module="Inchoo_ProductBookmark"
             sortOrder="100"
             parent="Magento_Backend::content_elements"
             action="inchoo_bookmark/bookmark/index"
             resource="Inchoo_ProductBookmark::productbookmark"/>
    </menu>
</config>
